<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Welcome @ViewBag.CurrentUser.FirstName!</h1>


    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top:40px">
            @if (ViewBag.CurrentUser.RoleId >= 4)
            {
                <button class="nav-link active btn btn-lg mb-2 text-start" id="v-pills-users-tab" data-bs-toggle="pill" data-bs-target="#v-pills-users" type="button" role="tab" aria-controls="v-pills-users" aria-selected="true">Users</button>
            }
            else
            {
                <button class="nav-link active btn btn-lg mb-2 text-start" id="v-pills-userinfo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-userinfo" type="button" role="tab" aria-controls="v-pills-userinfo" aria-selected="true">User Info</button>
            }
            <button class="nav-link btn btn-lg mb-2 text-start" id="v-pills-stores-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stores" type="button" role="tab" aria-controls="v-pills-stores" aria-selected="false">Stores</button>
            <button class="nav-link btn btn-lg mb-2 text-start" id="v-pills-products-tab" data-bs-toggle="pill" data-bs-target="#v-pills-products" type="button" role="tab" aria-controls="v-pills-products" aria-selected="false">Products</button>
            <button class="nav-link btn btn-lg mb-2 text-start" id="v-pills-transactions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-transactions" type="button" role="tab" aria-controls="v-pills-transactions" aria-selected="false">Transactions</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            @if (ViewBag.CurrentUser.RoleId >= 4)
            {
                <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab" tabindex="0">
                    <table id="userTable" class="data-table">

                        <thead>
                            <tr>
                                <th style="width: 150px;">Username</th>
                                <th style="width: 150px;">First Name</th>
                                <th style="width: 250px;">Email</th>
                                <th style="width: 150px;">Date of Birth</th>
                                @if (ViewBag.CurrentUser.RoleId >= 6)
                                {
                                    <th style="width: max-content;">Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in ViewBag.AllUsers)
                            {
                                if (ViewBag.CurrentUser.RoleId >= user.RoleId)
                                {
                                    var canEditUser = ViewBag.CurrentUser.RoleId == 8 || (ViewBag.CurrentUser.RoleId == 6 && user.Store == ViewBag.CurrentUser.Store);
                                    var canDeleteUser = ViewBag.CurrentUser.RoleId == 8;

                                    <tr>
                                        <td>@user.Username</td>
                                        <td>@user.FirstName</td>
                                        <td>@user.Email</td>
                                        <td>@user.Dob</td>

                                        @if (ViewBag.CurrentUser.RoleId >= 6)
                                        {
                                            <td style="text-align: center;">
                                                <div>
                                                    <table class="button-column-table" id="buttonColumnTable">
                                                        <tr>
                                                            @if (canEditUser)
                                                            {
                                                                <td>
                                                                    <form method="get" action="@Url.Action("EditUser", "User")">
                                                                        <input type="hidden" name="userId" value="@user.UserId" />
                                                                        <button type="submit" class="edit-btn">Edit</button>
                                                                    </form>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <button type="button" class="disabled-edit-btn" disabled>Edit</button>
                                                                </td>
                                                            }

                                                            @if (canDeleteUser)
                                                            {
                                                                <td>
                                                                    <form method="post" action="@Url.Action("DeleteUser", "User")">
                                                                        <input type="hidden" name="userId" value="@user.UserId" />
                                                                        <button type="submit" class="delete-btn">Delete</button>
                                                                    </form>
                                                                </td>
                                                            }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="tab-pane fade show active" id="v-pills-userinfo" role="tabpanel" aria-labelledby="v-pills-userinfo-tab" tabindex="0">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span>User Information</span>
                            <form method="get" action="@Url.Action("EditUser", "User")" class="m-0">
                                <input type="hidden" name="userId" value="@ViewBag.CurrentUser.UserId" />
                                <button type="submit" class="btn btn-primary btn-sm"><em>Edit</em></button>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>First Name:</strong> @ViewBag.CurrentUser.FirstName</p>
                            <p class="card-text"><strong>Last Name:</strong> @ViewBag.CurrentUser.LastName</p>
                            <p class="card-text"><strong>Username:</strong> @ViewBag.CurrentUser.Username</p>
                            <p class="card-text"><strong>Email:</strong> @ViewBag.CurrentUser.Email</p>
                            <p class="card-text"><strong>Phone:</strong> @ViewBag.CurrentUser.Phone</p>
                            <p class="card-text"><strong>Date of Birth:</strong> @ViewBag.CurrentUser.Dob.ToString("yyyy-MM-dd")</p>
                            <p class="card-text"><strong>Registration Date:</strong> @ViewBag.CurrentUser.RegistrationDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        </div>
                    </div>
                </div>

            }
            <div class="tab-pane fade" id="v-pills-stores" role="tabpanel" aria-labelledby="v-pills-stores-tab" tabindex="0">
                <table id="storeTable" class="data-table">

                    <thead>
                        <tr>
                            <th style="width: 100px;">Store ID</th>
                            <th style="width: 300px;">Address</th>
                            <th style="width: 100px;">Rent</th>
                            <th style="width: 100px;">Store Status</th>
                            <th style="width: 100px;">Store Operation</th>
                            <th style="width: 200px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in ViewBag.AllStores)
                        {
                            var canEditStore = ViewBag.CurrentUser.RoleId == 8 || (ViewBag.CurrentUser.RoleId == 6 && ViewBag.CurrentUser.StoreId == store.StoreId);
                            var canDeleteStore = ViewBag.CurrentUser.RoleId == 8;
                            var isManager = ViewBag.CurrentUser.RoleId == 6;

                            <tr>
                                <td>@store.StoreId</td>
                                <td>@store.Address</td>
                                <td>@store.Rent</td>
                                <td>@(store.IsOpen ? "Open" : "Closed")</td>
                                <td>@(store.IsDeleted ? "Out of business" : "Operating")</td>
                                <td style="text-align: center;">
                                    <div>
                                        <table class="button-column-table" id="buttonColumnTable">
                                            <tr>
                                                @if (canEditStore)
                                                {
                                                    <td>
                                                        <form method="get" action="@Url.Action("EditStore", "Store")">
                                                            <input type="hidden" name="storeId" value="@store.StoreId" />
                                                            <button type="submit" class="edit-btn">Edit</button>
                                                        </form>
                                                    </td>
                                                }
                                                else if (isManager)
                                                {
                                                    <td>
                                                        <button type="button" class="disabled-edit-btn" disabled>Edit</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                @if (canDeleteStore)
                                                {
                                                    <td>
                                                        <form method="post" action="@Url.Action("DeleteStore", "Store")">
                                                            <input type="hidden" name="storeId" value="@store.StoreId" />
                                                            <button type="submit" class="delete-btn">Delete</button>
                                                        </form>
                                                    </td>
                                                }

                                                <td>
                                                    <form method="post" action="@Url.Action("StoreProducts", "Product")">
                                                        <input type="hidden" name="storeId" value="@store.StoreId" />
                                                        <button type="submit" class="viewproduct-btn">View Products</button>
                                                    </form>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab" tabindex="0">
                <table id="productInfoTable" class="data-table">

                    <thead>
                        <tr>
                            <th style="width: 100px;">Product ID</th>
                            <th style="width: 200px;">Name</th>
                            <th>Description</th>
                            <th style="width: 100px;">Price Before Tax</th>
                            @*<th>Photo</th>*@

                            <th style="width: 100px;">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in ViewBag.ProductInfos)
                        {
                            <tr>
                                <td>@product.ProductId</td>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>@product.PriceBeforeTax</td>


                                <td style="text-align: center;">
                                    <div>
                                        <table class="button-column-table" id="buttonColumnTable">
                                            <tr>
                                                @if (ViewBag.CurrentUser.RoleId == 8)
                                                {
                                                    <td>
                                                        <form method="get" action="@Url.Action("EditProductInfo", "Product")">
                                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                                            <button type="submit" class="edit-btn">Edit</button>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form method="post" action="@Url.Action("DeleteProduct", "Product")">
                                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                                            <button type="submit" class="delete-btn">Delete</button>
                                                        </form>
                                                    </td>
                                                }
                                                <td><button class="show-product-availibility-btn" data-product-id="@product.ProductId">View Details</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-transactions" role="tabpanel" aria-labelledby="v-pills-transactions-tab" tabindex="0">
                <table id="transactionsTable" class="data-table">

                    <thead>
                        <tr>
                            <th>Store ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var storeGroup in ViewBag.TransactionsByStore)
                        {
                            <tr>
                                <td>@storeGroup.Key</td>
                                @* <td>@storeGroup.Count</td> *@
                                <td>
                                    <button class="toggle-transaction-btn" data-store-id="@storeGroup.Key">Show Transactions</button>
                                </td>
                            </tr>
                            <tr class="transaction-details" data-store-id="@storeGroup.Key" style="display: none;">
                                <td colspan="3">
                                    <table class="transaction-table data-table">
                                        <thead>
                                            <tr>
                                                <th>View Transaction Details</th>
                                                <th>Cashier Name</th>
                                                <th>Customer Name</th>
                                                <th>Transaction Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var transaction in storeGroup)
                                            {
                                                <tr>
                                                    <td>
                                                        <button class="show-transaction-details-btn" data-transaction-id="@transaction.TransactionId">View Details</button>
                                                    </td>

                                                    <td>@RSMS.Services.DatabaseService.GetUser(transaction.CashierId).FirstName</td>
                                                    <td>@RSMS.Services.DatabaseService.GetUser(transaction.CustomerId).FirstName</td>
                                                    <td>@transaction.TransactionTimestamp</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px; display: flex; justify-content: center;">
        <div class="modal fade" id="transactionDetailsModal" role="dialog" aria-labelledby="transactionDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="transaction-modal-content" id="transaction-modal-content">
                    <!-- Content will be loaded here -->
                </div>
            </div>
        </div>
        <div class="modal fade" id="storeAvailibilityModal" role="dialog" aria-labelledby="storeAvailibilityModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="availibility-modal-content" id="availibility-modal-content">
                    <!-- Content will be loaded here -->
                </div>
            </div>
        </div>

    </div>

</body>
</html>
@section Scripts {
    <script>

        $(document).ready(function () {

            $('.show-transaction-details-btn').on('click', function () {
                var transactionId = $(this).data('transaction-id');
                var url = '@Url.Action("TransactionDetail", "Transaction")';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        transactionId: transactionId
                    },
                    success: function (result) {
                        console.log(result);
                        $('#transaction-modal-content').html(result);
                        $('#transactionDetailsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + status + " " + error);
                    }
                });
            });

            $('.show-product-availibility-btn').on('click', function () {
                var productId = $(this).data('product-id');
                var url = '@Url.Action("CheckAvailibility", "Product")';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        productId: productId
                    },
                    success: function (result) {
                        console.log(result);
                        $('#availibility-modal-content').html(result);
                        $('#storeAvailibilityModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + status + " " + error);
                    }
                });
            });

            $('.toggle-transaction-btn').click(function () {
                var storeId = $(this).data('store-id');
                var $detailsRow = $('tr.transaction-details[data-store-id="' + storeId + '"]');

                if ($detailsRow.is(':visible')) {
                    $detailsRow.hide();
                } else {
                    $('tr.transaction-details').hide(); // Hide all other rows
                    $detailsRow.show();
                }
            });


            $('#showUsersBtn').click(function () {
                $('#userTable').show();
                $('#storeTable').hide();
                $('#productInfoTable').hide();
                $('#transactionsTable').hide();
            });

            $('#showStoresBtn').click(function () {
                $('#userTable').hide();
                $('#storeTable').show();
                $('#productInfoTable').hide();
                $('#transactionsTable').hide();
            });

            $('#showProductInfosBtn').click(function () {
                $('#userTable').hide();
                $('#storeTable').hide();
                $('#productInfoTable').show();
                $('#transactionsTable').hide();
            });

            $('#showTransactionsBtn').click(function () {
                $('#userTable').hide();
                $('#storeTable').hide();
                $('#productInfoTable').hide();
                $('#transactionsTable').show();
            });
        });
    </script>
}