<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 style="text-align:center;">Welcome @ViewBag.CurrentUser.FirstName!</h1>
    <hr style="width:100%;height:2px;color:blue; opacity:0.7; position:absolute; left:0;" />
    <div class="content-div">
        <div class="dashboard-nav">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <div class="btn-group">
                    <a href="#" class="btn " style="font-size:large;">Back To Top </a>
                </div>
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <button class="btn dropdown-item" id="userinfo-btn">View</button>
                        </li>
                        <li>
                            <form method="get" action="@Url.Action("EditUser", "User")">
                                <input type="hidden" name="userId" value="@ViewBag.CurrentUser.UserId" />
                                <button type="submit" class="btn dropdown-item">Edit</button>
                            </form>
                        </li>
                    </ul>
                </div>
                @if (ViewBag.CurrentUser.RoleId >= 6)
                {
                    <div class="btn-group dropend" role="group">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            User List
                        </button>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <button class="btn dropdown-item" id="users-btn">Users</button>
                            </li>
                            <li>
                                <form asp-action="Register" asp-controller="User" method="get">
                                    <button type="submit" class="btn dropdown-item" style="white-space:nowrap;">Add User</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Stores
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <button class="btn dropdown-item" id="stores-btn">View Stores</button>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <button class="btn dropdown-item add-store-btn" id="add-store-btn" style="white-space:nowrap;">Add Store</button>
                            </li>
                        }
                    </ul>
                </div>
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <button class="btn dropdown-item" id="products-btn">View Products</button>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <button class="btn dropdown-item add-product-btn" id="add-product-btn" style="white-space:nowrap;">Add New Product</button>
                            </li>
                        }
                    </ul>
                </div>
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Transactions
                    </button>
                    <ul class="dropdown-menu">

                        <li class="nav-item">
                            <button class="btn dropdown-item" id="transactions-btn">View Transactions</button>
                        </li>
                        @if (ViewBag.CurrentUser.RoleId >= 4)
                        {
                            <li>
                                <button class="btn dropdown-item" id="add-transaction-btn" style="white-space:nowrap;">New Transaction</button>
                            </li>
                        }
                    </ul>
                </div>
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Payroll
                    </button>
                    <ul class="dropdown-menu">

                        @if (ViewBag.CurrentUser.RoleId >= 4)
                        {
                            <li class="nav-item">
                                <button class="btn dropdown-item" id="payrolls-btn">Check Payroll History</button>
                            </li>
                        }
                        @if (ViewBag.CurrentUser.RoleId >= 6)
                        {
                            <li>
                                <button class="btn dropdown-item" id="add-payroll-btn" style="white-space:nowrap;">New Payroll</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane" id="v-pills-payroll"></div>
                <div class="tab-pane" id="v-pills-userinfo" role="tabpanel" aria-labelledby="v-pills-userinfo-tab" tabindex="0">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span>User Information</span>
                            <form method="get" action="@Url.Action("EditUser", "User")" class="m-0">
                                <input type="hidden" name="userId" value="@ViewBag.CurrentUser.UserId" />
                                <button type="submit" class="btn btn-primary btn-sm"><em>Edit</em></button>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>First Name:</strong> @ViewBag.CurrentUser.FirstName</p>
                            <p class="card-text"><strong>Last Name:</strong> @ViewBag.CurrentUser.LastName</p>
                            <p class="card-text"><strong>Username:</strong> @ViewBag.CurrentUser.Username</p>
                            <p class="card-text"><strong>Email:</strong> @ViewBag.CurrentUser.Email</p>
                            <p class="card-text"><strong>Phone:</strong> @ViewBag.CurrentUser.Phone</p>
                            <p class="card-text"><strong>Date of Birth:</strong> @ViewBag.CurrentUser.Dob.ToString("yyyy-MM-dd")</p>
                            <p class="card-text"><strong>Registration Date:</strong> @ViewBag.CurrentUser.RegistrationDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        </div>
                    </div>
                </div>
                @if (ViewBag.CurrentUser.RoleId >= 4)
                {
                    <div class="tab-pane" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab" tabindex="0">
                        <div class="mb-3 search-box d-flex justify-content-between">
                            <input type="text" class="form-control" id="userSearch" placeholder="Search users...">
                            <form asp-action="Register" asp-controller="User" method="get">
                                <button type="submit" class="btn btn-primary" style="white-space:nowrap;">Add User</button>
                            </form>
                        </div>
                        <table id="userTable" class="data-table">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Username</th>
                                    <th style="width: 150px;">First Name</th>
                                    <th style="width: 250px;">Email</th>
                                    <th style="width: 150px;">Date of Birth</th>
                                    @if (ViewBag.CurrentUser.RoleId >= 6)
                                    {
                                        <th style="width: max-content;">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in ViewBag.AllUsers)
                                {
                                    if (ViewBag.CurrentUser.RoleId >= user.RoleId)
                                    {
                                        var canEditUser = ViewBag.CurrentUser.RoleId == 8 || (ViewBag.CurrentUser.RoleId == 6 && user.Store == ViewBag.CurrentUser.Store);
                                        var canDeleteUser = ViewBag.CurrentUser.RoleId == 8;

                                        <tr>
                                            <td>@user.Username</td>
                                            <td>@user.FirstName</td>
                                            <td>@user.Email</td>
                                            <td>@user.Dob</td>

                                            @if (ViewBag.CurrentUser.RoleId >= 6)
                                            {
                                                <td style="text-align: center;">
                                                    <div>
                                                        <table class="button-column-table" id="buttonColumnTable">
                                                            <tr>
                                                                @if (canEditUser)
                                                                {
                                                                    <td>
                                                                        <form method="get" action="@Url.Action("EditUser", "User")">
                                                                            <input type="hidden" name="userId" value="@user.UserId" />
                                                                            <button type="submit" class="edit-btn">Edit</button>
                                                                        </form>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <button type="button" class="disabled-edit-btn" disabled>Edit</button>
                                                                    </td>
                                                                }

                                                                @if (canDeleteUser)
                                                                {
                                                                    <td>
                                                                        <form method="post" action="@Url.Action("DeleteUser", "User")">
                                                                            <input type="hidden" name="userId" value="@user.UserId" />
                                                                            <button type="submit" class="delete-btn">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <div class="tab-pane" id="v-pills-stores" role="tabpanel" aria-labelledby="v-pills-stores-tab" tabindex="0">
                    <div class="mb-3 search-box d-flex justify-content-between">
                        <input type="text" class="form-control" id="storeSearch" placeholder="Search store..." autocomplete="off">
                        <button class="btn btn-primary add-store-btn" id="add-store-btn" style="white-space:nowrap;">Add Store</button>
                    </div>
                    <table id="storeTable" class="data-table">
                        <thead>
                            <tr>
                                <th style="width: 300px;">Address</th>
                                <th style="width: 100px;">Rent</th>
                                <th style="width: 100px;">Store Status</th>
                                <th style="width: 100px;">Store Operation</th>
                                <th style="width: 200px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var store in ViewBag.AllStores)
                            {
                                var canEditStore = ViewBag.CurrentUser.RoleId == 8 || (ViewBag.CurrentUser.RoleId == 6 && ViewBag.CurrentUser.StoreId == store.StoreId);
                                var canDeleteStore = ViewBag.CurrentUser.RoleId == 8;
                                var isManager = ViewBag.CurrentUser.RoleId == 6;

                                <tr>
                                    <td>@store.Address</td>
                                    <td>@store.Rent</td>
                                    <td>@(store.IsOpen ? "Open" : "Closed")</td>
                                    <td>@(store.IsDeleted ? "Out of business" : "Operating")</td>
                                    <td style="text-align: center;">
                                        <div>
                                            <table class="button-column-table" id="buttonColumnTable">
                                                <tr>
                                                    @if (canEditStore)
                                                    {
                                                        <td>
                                                            <form method="get" action="@Url.Action("EditStore", "Store")">
                                                                <input type="hidden" name="storeId" value="@store.StoreId" />
                                                                <button type="submit" class="edit-btn">Edit</button>
                                                            </form>
                                                        </td>
                                                    }
                                                    else if (isManager)
                                                    {
                                                        <td>
                                                            <button type="button" class="disabled-btn disabled-edit-btn" disabled>Edit</button>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }

                                                    @if (canDeleteStore)
                                                    {
                                                        <td>
                                                            <form method="post" action="@Url.Action("DeleteStore", "Store")">
                                                                <input type="hidden" name="storeId" value="@store.StoreId" />
                                                                <button type="submit" class="delete-btn">Delete</button>
                                                            </form>
                                                        </td>
                                                    }

                                                    <td>
                                                        <form method="post" action="@Url.Action("StoreProducts", "Product")">
                                                            <input type="hidden" name="storeId" value="@store.StoreId" />
                                                            <button type="submit" class="viewproduct-btn">View Products</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab" tabindex="0">
                    <div class="mb-3 search-box d-flex justify-content-between">
                        <input type="text" class="form-control" id="productSearch" placeholder="Search products..." autocomplete="off">
                        <button class="btn btn-primary add-product-btn" id="add-product-btn" style="white-space:nowrap;">Add Product</button>
                    </div>

                    <div style="margin-top: 20px; display: flex; flex-wrap: wrap; justify-content: center;">
                        <div class="row row-cols-5 row-cols-md-4 g-4">
                            @foreach (var product in ViewBag.ProductInfos)
                            {

                                <div class="col " style="font-family: Arial; font-size: 16px;">

                                    <div class="card product-card h-100 border-dark">
                                        <div class="card-header" style="text-align: center;">
                                            <large>@product.Name</large>
                                        </div>
                                        <img src="~/ProductImages/@product.Photo" class="card-img-top" alt="@product.Description">
                                        <hr />
                                        <div class="card-body">

                                            <div class="product-detail">
                                                <p>Pretax Price:</p>
                                                <span>@product.PriceBeforeTax</span>
                                            </div>


                                            <hr />
                                            @product.Description
                                        </div>

                                        <small div class="card-footer align-center" style="display:flex; justify-content: space-between; align-items: baseline;">
                                            Product ID: @product.ProductId
                                            <div class="actions">
                                                @if (ViewBag.CurrentUser.RoleId == 8)
                                                {
                                                    <button class="show-product-availibility-btn" style="margin-right:5px;" data-product-id="@product.ProductId">View Details</button>
                                                    <form method="get" action="@Url.Action("EditProductInfo", "Product")">
                                                        <input type="hidden" name="productId" value="@product.ProductId" />
                                                        <button type="submit" class="edit-btn">Edit</button>
                                                    </form>
                                                }


                                            </div>

                                        </small>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="v-pills-transactions" role="tabpanel" aria-labelledby="v-pills-transactions-tab" tabindex="0">
                    <table id="transactionsTable" class="data-table">
                        <thead>
                            <tr>
                                <th>Store Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var storeGroup in ViewBag.TransactionsByStore)
                            {
                                <tr>
                                    <td>@RSMS.Services.DatabaseService.GetStore(storeGroup.Key).Address</td>
                                    <td>
                                        <button class="toggle-transaction-btn" data-store-id="@storeGroup.Key">Show Transactions</button>
                                    </td>
                                </tr>
                                <tr class="transaction-details" data-store-id="@storeGroup.Key" style="display: none;">
                                    <td colspan="3">
                                        <table class="transaction-table data-table">
                                            <thead>
                                                <tr>
                                                    <th>View Transaction Details</th>
                                                    <th>Cashier Name</th>
                                                    <th>Customer Name</th>
                                                    <th>Transaction Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var transaction in storeGroup)
                                                {
                                                    <tr>
                                                        <td>
                                                            <button class="show-transaction-details-btn" data-transaction-id="@transaction.TransactionId">View Details</button>
                                                        </td>
                                                        <td>@RSMS.Services.DatabaseService.GetUser(transaction.CashierId).FirstName</td>
                                                        <td>@RSMS.Services.DatabaseService.GetUser(transaction.CustomerId).FirstName</td>
                                                        <td>@transaction.TransactionTimestamp</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="transactionDetailsModal" role="dialog" aria-labelledby="transactionDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="transaction-modal-content" id="transaction-modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="storeAvailibilityModal" role="dialog" aria-labelledby="storeAvailibilityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="availibility-modal-content" id="availibility-modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="storeRegistrationModal" role="dialog" aria-labelledby="storeRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="storeregistration-modal-content" id="storeregistration-modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="productRegistrationModal" role="dialog" aria-labelledby="productRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="productregistration-modal-content" id="productregistration-modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="transactionRegistrationModal" role="dialog" aria-labelledby="transactionRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="transactionregistration-modal-content" id="transactionregistration-modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="payrollRegistrationModal" role="dialog" aria-labelledby="payrollRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="payrollregistration-modal-content" id="payrollregistration-modal-content">
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#payrolls-btn').on('click', function () {
                debugger;
                loadPayrollHistory();
            });

            function loadPayrollHistory() {
                $.ajax({
                    url: '@Url.Action("GetPayrollHistory", "Payroll")',
                    data: {
                        userId: `@ViewBag.CurrentUser.UserId`,
                        storeId: @ViewBag.CurrentUser.StoreId,
                    },
                    type: 'GET',
                    success: function (result) {
                        console.log(result);
                        $('#v-pills-payroll').html(result);
                        $('#v-pills-payroll').show();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

            $('.dropdown-item').click(function () {
                // Get the ID of the clicked button
                var buttonId = $(this).attr('id');

                // Get the ID of the corresponding content div
                var contentId = 'v-pills-' + buttonId.replace('-btn', '');
                console.log(contentId);
                // Hide all content divs
                $('.tab-pane').hide();

                // Show the corresponding content div
                $('#' + contentId).show();
                console.log($('#' + contentId));
            });

            // Show the User Info content by default
            $('#v-pills-userinfo').show();
            $('#productSearch').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('.product-card').each(function () {
                    var $col = $(this).closest('.col');
                    var productId = $(this).find('.card-footer').text().toLowerCase().split(':')[1].trim();
                    var productName = $(this).find('.card-header large').text().toLowerCase();
                    var match = productId.includes(searchTerm) || productName.includes(searchTerm);

                    if (match) {
                        $col.css({
                            'width': '',
                            'height': '',
                            'padding': '',
                            'display': ''
                        });
                    } else {
                        $col.css({
                            'width': '0',
                            'height': '0',
                            'padding': '0',
                            'display': 'none'
                        });
                    }
                });
            });



            $('#userSearch').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('#userTable > tbody > tr').each(function () {
                    var username = $(this).find('td:first').text().toLowerCase();
                    var firstName = $(this).find('td:nth-child(2)').text().toLowerCase();
                    var email = $(this).find('td:nth-child(3)').text().toLowerCase();
                    var match = username.includes(searchTerm) || firstName.includes(searchTerm) || email.includes(searchTerm);
                    $(this).toggle(match);
                });
            });
            $('#storeSearch').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('#storeTable > tbody > tr').each(function () {
                    var address = $(this).find('td:first').text().toLowerCase();
                    var match = address.includes(searchTerm);
                    $(this).toggle(match);

                    // Remove or add padding based on the visibility of the row
                    if (match) {
                        $(this).css('padding', '');
                        $(this).css('height', '');
                    } else {
                        $(this).css('padding', '0');
                        $(this).css('height', '0');
                    }
                });
            });
            $('.add-store-btn').on('click', function () {
                console.log('ababasb');
                var url = '@Url.Action("StoreRegistrationPartial", "Store")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#storeregistration-modal-content').html(data);
                        $('#storeRegistrationModal').modal('show');
                        $('#stores-btn').click();
                    },
                    error: function () {
                        alert('Failed to load the store registration form.');
                    }
                });
            });
            $('.add-product-btn').on('click', function () {

                var url = '@Url.Action("ProductRegistrationPartial", "Product")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#productregistration-modal-content').html(data);
                        $('#productRegistrationModal').modal('show');
                        $('#products-btn').click();
                    },
                    error: function () {
                        alert('Failed to load the product registration form.');
                    }
                });
            });
            $('#add-transaction-btn').on('click', function () {
                var url = '@Url.Action("TransactionRegistrationPartial", "Transaction")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#transactionregistration-modal-content').html(data);
                        $('#transactionRegistrationModal').modal('show');
                        $('#transactions-btn').click();
                    },
                    error: function () {
                        alert('Failed to load the transaction registration form.');
                    }
                });
            });
            $('#add-payroll-btn').on('click', function () {
                loadPayrollHistory();
                var url = '@Url.Action("PayrollRegistrationPartial", "Payroll")';
                $('#payrollRegistrationModal').modal('show');
                $('#payrollRegistrationModal').on('shown.bs.modal', function () {
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (data) {
                            $('#payrollregistration-modal-content').html(data);
                        },
                        error: function () {
                            alert('Failed to load the payroll registration form.');
                        }
                    });
                });
            });
            $('.show-transaction-details-btn').on('click', function () {
                var transactionId = $(this).data('transaction-id');
                var url = '@Url.Action("TransactionDetail", "Transaction")';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        transactionId: transactionId
                    },
                    success: function (result) {
                        console.log(result);
                        $('#transaction-modal-content').html(result);
                        $('#transactionDetailsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + status + " " + error);
                    }
                });
            });

            $('.show-product-availibility-btn').on('click', function () {
                var productId = $(this).data('product-id');
                var url = '@Url.Action("CheckAvailibility", "Product")';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        productId: productId
                    },
                    success: function (result) {
                        console.log(result);
                        $('#availibility-modal-content').html(result);
                        $('#storeAvailibilityModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + status + " " + error);
                    }
                });
            });

            $('.toggle-transaction-btn').click(function () {
                var storeId = $(this).data('store-id');
                var $detailsRow = $('tr.transaction-details[data-store-id="' + storeId + '"]');

                if ($detailsRow.is(':visible')) {
                    $detailsRow.hide();
                } else {
                    $('tr.transaction-details').hide(); // Hide all other rows
                    $detailsRow.show();
                }
            });

        });
    </script>
}