<h1 style="text-align: center;">Welcome to the dashboard</h1>
<link rel="stylesheet" href="~/css/dashboard.css" />
<div style="display: flex; justify-content: center;">
    <p>This is the dashboard. You can manage users, stores, and roles here.</p>
</div>

<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <button id="showUsersBtn" class="toggle-btn">Show Users</button>
    <button id="showStoresBtn" class="toggle-btn">Show Stores</button>
</div>

<div style="margin-top: 20px; display: flex; justify-content: center;">
    <table id="userTable" class="data-table">
        <caption class="table-caption">List of users</caption>
        <thead>
            <tr>
                <th style="width: 150px;">Username</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 250px;">Email</th>
                <th style="width: 150px;">Date of Birth</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.AllUsers)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@user.Dob</td>
                    <td style="text-align: center;">
                        <div>
                            @if (ViewBag.CurrentUser.RoleId == 8)
                            {
                                <table class="button-column-table" id="buttonColumnTable">
                                    <tr>

                                        <td>
                                            <form method="get" action="@Url.Action("EditUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                <button type="submit" class="edit-btn">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" action="@Url.Action("DeleteUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                <button type="submit" class="delete-btn">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            }
                            else if (ViewBag.CurrentUser.RoleId == 6)
                            {
                                <table class="button-column-table" id="buttonColumnTable">
                                    <tr>

                                        <td>
                                            <form method="get" action="@Url.Action("EditUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                @if (user.Store == ViewBag.CurrentUser.Store)
                                                {
                                                    <button type="submit" class="edit-btn">Edit</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="disabled-edit-btn">Edit</button>
                                                }
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" action="@Url.Action("DeleteUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                <button type="submit" class="disabled-delete-btn">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>

                            }
                            else
                            {
                                <table class="button-column-table" id="buttonColumnTable">
                                    <tr>

                                        <td>
                                            <form method="get" action="@Url.Action("EditUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                <button type="submit" class="disabled-edit-btn">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" action="@Url.Action("DeleteUser", "User")">
                                                <input type="hidden" name="userId" value="@user.UserId" />
                                                <button type="submit" class="disabled-delete-btn">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 20px;  justify-content: center; ">
        <table id="storeTable" class="data-table" style="display: none;">
            <caption class="table-caption">List of Stores</caption>
            <thead>
                <tr>
                    <th style="width: 100px;">Store ID</th>
                    <th style="width: 300px;">Address</th>
                    <th style="width: 100px;">Rent</th>
                    <th style="width: 100px;">Store Status</th>
                    <th style="width: 100px;">Store Operation</th>
                    <th style="width: 200px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var store in ViewBag.AllStores)
                {
                    <tr>
                        <td>@store.StoreId</td>
                        <td>@store.Address</td>
                        <td>@store.Rent</td>
                        <td>@(store.IsOpen ? "Open" : "Closed")</td>
                        <td>@(store.IsDeleted ? "Out of business" : "Operating")</td>
                        <td style="text-align: center;">
                            <div>
                                @if (ViewBag.CurrentUser.RoleId == 8)
                                {
                                    <table class="button-column-table" id="buttonColumnTable">
                                        <tr>
                                            <td>
                                                <form method="get" action="@Url.Action("EditStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    <button type="submit" class="edit-btn">Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="post" action="@Url.Action("DeleteStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    <button type="submit" class="delete-btn">Delete</button>
                                                </form>
                                            </td>

                                        </tr>
                                    </table>
                                }
                                else if (ViewBag.CurrentUser.RoleId == 6)
                                {
                                    <table class="button-column-table" id="buttonColumnTable">
                                        <tr>

                                            <td>
                                                <form method="get" action="@Url.Action("EditStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    @if (ViewBag.CurrentUser.StoreId == store.StoreId)
                                                    {
                                                        <button type="submit" class="edit-btn">Edit</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="disabled-edit-btn">Edit</button>
                                                    }
                                                </form>
                                            </td>
                                            <td>
                                                <form method="post" action="@Url.Action("DeleteStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    <button type="submit" class="disabled-delete-btn">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <table class="button-column-table" id="buttonColumnTable">
                                        <tr>
                                            <td>
                                                <form method="post" action="@Url.Action("DeleteStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    <button type="submit" class="disabled-delete-btn">Delete</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="get" action="@Url.Action("EditStore", "Store")">
                                                    <input type="hidden" name="storeId" value="@store.StoreId" />
                                                    <button type="submit" class="disabled-edit-btn">Edit</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#showUsersBtn').click(function () {
                    $('#userTable').show();
                    $('#storeTable').hide();
                });

                $('#showStoresBtn').click(function () {
                    console.log("Show Stores button clicked");
                    $('#userTable').hide();
                    $('#storeTable').show();
                });
            });
        </script>
    }
