@using System.Security.Claims
@using RSMS.Services
@{
    var currentEditingUser = DatabaseService.GetUser(User.Identity.Name);
}
@model Domain.Models.UserInfo
<link rel="stylesheet" href="~/css/edituser.css" />
<div class="container" style="max-width: 500px;">
    <div class="card">
        <div class="card-header">
            <h2>Edit @Model.Username</h2>
        </div>
        <div class="card-body">
            <form method="post">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="RegistrationDate" />
                <input type="hidden" asp-for="PasswordHashed" />
                <input type="hidden" asp-for="Salt" />
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control form-control-sm" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control form-control-sm" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control form-control-sm" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="Email" class="text-danger" ></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Phone Number</label>
                    <input asp-for="Phone" class="form-control form-control-sm" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="StoreId">Store Posting</label>
                        <select asp-for="StoreId" class="form-control form-control-sm" disabled="@(currentEditingUser.RoleId < 8)" asp-items="@(new SelectList(ViewBag.StoreNames, "Key", "Value", currentEditingUser.StoreId))">
                        </select>
                        <span asp-validation-for="StoreId" class="text-danger"></span>
                    </div>

                    <span asp-validation-for="StoreId" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Dob">Date Of Birth</label>
                    <input asp-for="Dob" type="date" class="form-control form-control-sm" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsDisabled"> Disable User</label>
                    <input asp-for="IsDisabled" type="checkbox" class="form-check-input" disabled="@(currentEditingUser.RoleId<8)" />
                </div>
                @if (Model.Username == User.Identity.Name)
                {
                    <div class="form-group">
                        <label asp-for="RoleId">User Role</label>
                        <select asp-for="RoleId" class="form-control form-control-sm ">
                            <option value="@currentEditingUser.RoleId">@Enum.GetName(typeof(DatabaseService.UserRole), currentEditingUser.RoleId)</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="RoleId">User Role</label>
                        <select asp-for="RoleId" class="form-control form-control-sm ">
                            @if (DatabaseService.RoleNameToRoleId(User.FindFirstValue(ClaimTypes.Role)) > 6)
                            {
                                <option value="8">Admin</option>
                            }
                            @if (DatabaseService.RoleNameToRoleId(User.FindFirstValue(ClaimTypes.Role)) > 4)
                            {
                                <option value="6">Manager</option>
                            }
                            <option value="4">Employee</option>
                            <option value="2">Customer</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                }

                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </form>
        </div>
    </div>

</div>