@model List<string>

@{
    ViewBag.Title = "Role Selection";
}


<div>
    <label>
        <input type="checkbox" name="rolesToAdd" value="Admin" @(Model.Contains("Admin") ? "checked" : "")> Admin
    </label><br />
    <label>
        <input type="checkbox" name="rolesToAdd" value="Manager" @(Model.Contains("Manager") ? "checked" : "")> Manager
    </label><br />
    <label>
        <input type="checkbox" name="rolesToAdd" value="Employee" @(Model.Contains("Employee") ? "checked" : "")> Employee
    </label><br />
    <label>
        <input type="checkbox" name="rolesToAdd" value="Customer" @(Model.Contains("Customer") ? "checked" : "")> Customer
    </label><br />
    <input type="hidden" name="username" value="@ViewBag.Username" />
</div>
<input type="submit" value="Submit" />

